.main_body {
    background-image: url("../images/ib/background.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    min-width: 800px;
}

.sub_container {
    margin: 0 auto;
    width: 80%;
    height: 50px;
}

h1 {
    font-size: 400%;
}