.main_body {
    background-image: url("../images/ib/background.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

::-webkit-input-placeholder {
    color: rgba(255, 0, 0, 0.205);
}

.btn {
    color: #eca29b;
    background: #ffffffab;
    border: 0px solid #eca29b;
    /* border-radius: 6px; */
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0 0;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}

.main {
    min-height: calc(100vh - 140px);
}

footer {
    /* position: absolute;
    bottom: 0; */
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: #66ccff3f;
    /* margin-top: -60px; */
}