.pages_main_body {
    background-image: url("../images/ib/background_pages.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin: 0 auto;
}

.pages_image {
    width: 60%;
}

.pages_buttons {
    height: 50px;
}

.details {
    text-align: center;
    margin: 0 auto;
}